/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap);

:root {
    --p: rgb(85, 85, 85);
    --trns-hm: all 200ms ease-in-out;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--p);
}

a,
.btn {
    transition: all 100ms ease;
}


/* NAVBAR SECTION */

.navbar nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.navbar nav,
.nav-links {
    display: flex;
}

.navbar .nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;

}

.navbar .nav-links a {
    color: black;
    text-decoration: none;
    text-decoration-color: none;
}

.navbar .nav-links a:hover {
    color: grey;
    /* text-decoration: underline;
    text-underline-offset: 0.5rem; */
}

.navbar .nav-links a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid grey;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.2s linear;
}

.navbar .nav-links a:hover::after {
    transform: scaleX(1);
}

.navbar .logo {
    font-size: 2rem;
    cursor: default;
}

/* Hamburger Menu */
.navbar #hamburger-nav {
    display: none;
}

.navbar #hamburger-nav .hamburger-menu {
    position: relative;
    display: inline-block;
}

.navbar #hamburger-nav .hamburger-menu .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.navbar #hamburger-nav .hamburger-menu .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.navbar #hamburger-nav .menu-links {
    position: absolute;

    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.navbar #hamburger-nav .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.navbar #hamburger-nav .menu-links li {
    list-style: none;
}

.navbar #hamburger-nav .menu-links.open {
    max-height: 300px;
    box-shadow: 5px 5px 25px gray;
    top: 100%;
}

.navbar #hamburger-nav .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.navbar #hamburger-nav .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.navbar #hamburger-nav .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
    transition: var(--trns-hm);
}

.hamburger-icon span:nth-child(2) {
    opacity: 1;
}

.hamburger-icon span:last-child {
    transform: none;
    transition: var(--trns-hm);
}


/* PROFILE SECTION */
section .profile {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-width: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 80vh;
}

.profile .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;

}

.profile .section__pic-container img {
    border-radius: 50%;
}

.profile .section__text {
    align-items: center;
    text-align: center;
}

.profile .section__text p {
    font-weight: 600;
}

.profile .section__text .section__text__p2 {
    text-align: center;
    font-size: 1.75rem;
    margin: 1rem;
}

.profile .section__text .title-container {
    display: grid;
    place-items: center;
}

.profile .section__text .title-container .title {
    font-size: 3rem;
    text-align: center;
    margin-right: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 3s steps(17, end), blink-caret .5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

/* Keyframes untuk efek berkedip kursor */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.profile #social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.profile #social-container .icon {
    cursor: pointer;
    height: 2rem;
}

.profile .section__text .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile .section__text .btn-container .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.profile .section__text .btn-container .btn.btn-color-1 {
    border: black 0.1rem solid;
    background: white;
    cursor: pointer;
}

.profile .section__text .btn-container .btn.btn-color-1:hover {
    border: black 0.1rem solid;
    background: black;
    color: white;
}

.profile .section__text .btn-container .btn.btn-color-2 {
    border: black 0.1rem solid;
    background: black;
    color: white;
    cursor: pointer;
}